@import "../variables.scss";

.banner {
  height: 80vh;
  position: relative;
  @media (max-width: $widescreen) {
    height: 90vh;
  }
  .banner-heading {
    background: $redish;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-addition-bg {
    background: $grey;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-bg {
    // background: $redish;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-inner {
    width: 80%;
    height: 80%;
    display: flex;
    position: relative;
    @media (max-width: $widescreen) {
      height: 90vh;
    }
    .content {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      .content-inner {
        h1 {
          font-family: "Alex Brush", cursive;
          color: $redish;
          font-size: 18.4rem;
          line-height: 4.8rem;
          margin: 32px 0 0;
          width: 620px;
          z-index: 999999;
        }
        h2 {
          font-family: "Alex Brush", cursive;
          color: $redish;
          font-size: 3.4rem;
          line-height: 4.8rem;
          margin: 32px 0 0;
          width: 620px;
        }
      }
    }
  }
}
